.title {
  color: #ffd700;
  flex: 1;
}
/* Styling Banner */
.banner {
  background: url("../../public/banner.jpg") no-repeat center center/cover;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.1;
}
.bannercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #fff;
 
}
.bannercontent h3 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.banner * {
  z-index: 10;
}
.banner p {
  font-size: 20px;
  margin-top: 2rem;
}
/* Search */
.search {
  border-color: #fff;

  background-color: #fff;
}
.input {
  color: #fff;
}
/* Coin table */
.coincontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* CoinInfo */
.singleCoin{
  display: flex;

  flex-direction: column;
  align-items: center;
 
}
.content {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 20px;

  margin: 20px auto;
  border-radius: 5px;
  padding: auto;
}
.content1 {
  display: flex;

  margin-top: 20px;
  box-shadow: 0 2px 2px #000;
  margin: 20px auto;
  border-radius: 5px;
  padding: auto;
  border: 5px;
  width: 50vw;
}
.rank {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}
.rank h3 {
  margin-bottom: 20px;
}
.marketcap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.5;
  margin: 20px auto;
}
.marketcap h3 {
  padding: 20px 0;
}
table {
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 20px;
}
.description {
  margin-top: 20px;
  /* box-shadow: 0 2px 2px #000; */
  margin: 20px auto;
  border-radius: 5px;
  padding: auto;
  border: 5px;
  width: 50vw;
}
.input {
  color: #fff !important;
}
/* Chart Styling */
.chart{

  width:60vw;
  color: gold;
  margin: 20px auto;
}
.coinpagebtn{
  display: flex;
  justify-content: space-between;
width: 100%;
}

.coinpagebtn button{
  padding:10px 40px;
  margin-top: 5px;
  background:none;
  color:white;
  border: 2px solid gold;
  border-radius: 4px;
  cursor: pointer;
  
}
.coinpagebtn .btnactive{
  background-color: gold;
  color:black
}

/* Media Queries */
@media (max-width: 768px) {
  .content1 {
    display: flex;
    flex-direction: column;
  }
  .rank {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .description {
    margin-top: 20px;
    /* box-shadow: 0 2px 2px #000; */
    margin: 20px auto;
    border-radius: 5px;
    padding: auto;
    border: 5px;
    width: 70vw;
  }
  table {
    width: 10%;
  }
  th,
  td {
    display: none;
  }
  .chart{

    width:80vw;
    color: gold;
    margin: 20px auto;
  }
  .coinpagebtn button{
    padding:10px 10px;
    margin-top: 5px;
    background:none;
    color:white;
    border: 2px solid gold;
    border-radius: 4px;
    cursor: pointer;
    
  }
}
/* Added Carousel */
.carousel{
 height: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  cursor: pointer;
}